<div class="container">
    <div class="row" style="width:100%">
        <div class="col-lg-12">   
            <div class="container-fluid">
                <div class="card content-section mb-4">
                    <app-nav-menu [path]="'my-protocols'"></app-nav-menu>
                    <div class="card-body" style="min-height: 530px;">
                        <h4>My Active Protocols</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card m-2">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-10 pt-2">
                                                <h4 style="font-size: 16px;">Lifestyle Changes</h4>
                                            </div>
                                            <div class="col-md-2" style="text-align:right">
                                                <button class="btn btn-outline-primary">Learn More</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th style="width:120px; font-size: 13px;">
                                                        Date
                                                    </th>
                                                    <th style="font-size: 13px;">
                                                        Protocol
                                                    </th>
                                                    <th style="width:120px; font-size: 13px;">
                                                        Recheck<br>Date
                                                    </th>
                                                    <th style="width:120px; font-size: 13px;">
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-10 pt-2">
                                                <h4 style="font-size: 16px;">Supplement Protocols</h4>
                                            </div>
                                            <div class="col-md-2" style="text-align:right">
                                                <button class="btn btn-outline-primary">Learn More</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th style="width:120px; font-size: 13px;">
                                                        Date
                                                    </th>
                                                    <th style="font-size: 13px;">
                                                        Protocol
                                                    </th>
                                                    <th style="width:120px; font-size: 13px;">
                                                        Reset<br>Date
                                                    </th>
                                                    <th style="width:120px; font-size: 13px;">
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-10 pt-2">
                                                <h4 style="font-size: 16px;">Peptide Protocols</h4>
                                            </div>
                                            <div class="col-md-2" style="text-align:right">
                                                <button class="btn btn-outline-primary">Learn More</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th style="width:120px; font-size: 13px;">
                                                        Date
                                                    </th>
                                                    <th style="font-size: 13px;">
                                                        Protocol
                                                    </th>
                                                    <th style="width:120px; font-size: 13px;">
                                                        Reset<br>Date
                                                    </th>
                                                    <th style="width:120px; font-size: 13px;">
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-10 pt-2">
                                                <h4 style="font-size: 16px;">Medication Protocols</h4>
                                            </div>
                                            <div class="col-md-2" style="text-align:right">
                                                <button class="btn btn-outline-primary">Learn More</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th style="width:120px; font-size: 13px;">
                                                        Date
                                                    </th>
                                                    <th style="font-size: 13px;">
                                                        Recommendation
                                                    </th>
                                                    <th style="width:120px; font-size: 13px;">
                                                        Reset<br>Date
                                                    </th>
                                                    <th style="width:120px; font-size: 13px;">
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="formstatusmessage" class="d-none"></div>
</div>