<div class="container">
    <div class="row" style="width:100%">
        <div class="col-lg-12">   
            <div class="container-fluid">
                <div class="card content-section mb-4">
                    <app-nav-menu [path]="'my-visits'"></app-nav-menu>
                    <div class="card-body" style="min-height: 530px;">
                        <div class="row">
                            <div class="col-md-9">
                                <h4>My Visit History</h4>
                            </div>
                            <div class="col-md-3" style="text-align: right;">
                                <button class="btn btn-success m-2">Schedule Visit</button>
                            </div>
                        </div>
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th style="width:200px;">Lab Date</th>
                                            <th style="width:200px;">Laboratory</th>
                                            <th style="width:280px;">Description</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (m of data.messages; track m.id) {
                                            <tr>
                                                <td style="font-size: 14px;">{{ m.from_name }}</td>
                                                <td style="font-size: 14px;">{{ m.message_date }}</td>
                                                <td style="font-size: 14px;">{{ m.message_regarding}}</td>
                                                <td style="font-size: 14px; text-align:right"><a>Read -></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="formstatusmessage" class="d-none"></div>
</div>