<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Upload Labs</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-primary m-2">Select File</button> No file selected
                </div>
                <div class="col-6" style="text-align: right;">
                    <button class="btn btn-primary m-2">Upload</button>
                    <button (click)="closeIt()" class="btn btn-outline-secondary m-2">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
