<div class="container">
    <div class="row" style="width:100%">
        <div class="col-lg-12">   
            <div class="container-fluid">
                <div class="card content-section mb-4">
                    <app-nav-menu [path]="'my-labs'"></app-nav-menu>
                    <div class="card-body" style="min-height: 530px;">
                        <div class="row">
                            <div class="col-md-9">
                                <h4>My Labs</h4>
                            </div>
                            <div class="col-md-3" style="text-align: right;">
                                <button class="btn btn-primary m-2">Upload Labs</button>
                                <button class="btn btn-success m-2">Order Labs</button>
                            </div>
                        </div>
                        <div class="card m-2">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-10 pt-2">
                                        <h4 style="font-size: 16px;">Lab History</h4>
                                    </div>
                                    <div class="col-md-2" style="text-align:right">

                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th style="width:120px; font-size: 13px;">
                                                Lab Date
                                            </th>
                                            <th style="width:520px; font-size: 13px;">
                                                Physician Notes
                                            </th>
                                            <th style="width:120px; font-size: 13px;">
                                                See More
                                            </th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="formstatusmessage" class="d-none"></div>
</div>