<div class="container">
        <div class="row" style="width:100%">
            <div class="col-lg-12">   
                <div class="container-fluid">
                    <div class="card content-section mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                        <button class="btn btn-secondary m-2" [routerLink]="['/my-profile']"><div class="icon">
                                            <i class="bi bi-activity"></i>
                                          </div>My Health
                                        </button>                                        
                                    <button class="btn btn-outline-primary m-2" [routerLink]="['/my-orders']"><div class="icon">
                                        <i class="bi bi-bag-check"></i>
                                      </div>Orders
                                    </button>
                                    <button class="btn btn-outline-primary m-2" [routerLink]="['/my-messages']"><div class="icon">
                                        <i class="bi bi-chat-right-text"></i>
                                      </div>Messages
                                    </button>
                                    <button class="btn btn-outline-primary m-2" [routerLink]="['/my-support']"><div class="icon">
                                        <i class="bi bi-question-circle"></i>
                                      </div>Support
                                    </button>   
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <button class="btn btn-outline-primary m-2" [routerLink]="['/my-account']"><div class="icon">
                                        <i class="bi bi-person-square"></i>
                                      </div>Account
                                    </button>   
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="height: 530px;">

                        </div>
                    </div>
                </div>
                <div id="formstatusmessage" class="d-none"></div>
</div>